* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    color: #555;
    font-size: 20px;
    font-family: "arial", sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

body{
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.07)),to(rgba(0, 0, 0, 0.5))),url("img.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.07),rgba(0, 0, 0, 0.5)),url("img.jpg");
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container{
    height:auto;
    max-width: 350px;
    background-color: #909090;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.screen-box{
    width: 80%;
    height: 30px;
    border : solid 1px #000;
    border-radius: 4px;
    background-color: #f4eded;
    margin-left: 15%;
    margin-right: 5%;
    text-align: right;
    padding: 4px 8px;
}

/* ---- buttons section-----*/

.button-pad{
    background-color:#d3cfcf;
    height:220px;
    width: 90%;
    border-radius: 4px;
    padding: 20px 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    
}

.num{
    float: left;
    height: 100%;
    margin-left: 7%;
}

.operator{
    float: left;
    height: 100%;
    margin: 0 auto;
}
.btn{
    width:50px;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 120%;
}

.plus{
    height: 70px;
}


#btn-clear{
    color: #fff;
    background-color: green;
    border: solid 1px #000;
    border-radius: 5px;
    
}

#btn-clear:focus{
    outline: none;
}